<div class="country_container">
  <div class="row mb-1">
    <div class="col-md-10">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ selectedCountry[0].name }}</h3>
          <br>
          <div class="mb-2 text-muted">
            Capital: {{ selectedCountry[0].capital }}
          </div>
          <p class="card-text mb-auto country_card_content">
            Toda la informacion, mas completa sobre {{ selectedCountry[0].name }} a su
            disposicion:
          </p>
          <br>
          <ul>
            <li>Poblacion: {{ selectedCountry[0].population }}</li>
            <li>Currencies: {{ selectedCountry[0].currencies[0].name }}</li>
            <li>Lenguages: {{ selectedCountry[0].languages[0].name }}</li>
            <li>Area: {{ selectedCountry[0].area }} m2</li>
          </ul>
          <a routerLink="/search" class="stretched-link">Back</a>
        </div>
        <div class="row">
        <div class="col-auto">
          <img  class="card-img-top" src={{selectedCountry[0].flag}} alt="">
          <!-- <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg> -->
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
